@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
}

.btn-brand {
  @apply bg-brand-500 drop-shadow-default text-white px-3 h-12 rounded-full flex items-center hover:bg-brand_alt-900 transition-colors;
}
.focus-forms {
  @apply focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white dark:focus:ring-offset-zinc-900 focus:ring-brand-500;
}
.navgation-btn {
  @apply absolute text-zinc-500 hover:text-zinc-800 dark:text-zinc-400 dark:hover:text-zinc-100;
}
.main-menu li {
  @apply text-brand-100 md:text-brand-500 md:opacity-70 md:hover:opacity-100 hover:border-b-2 md:hover:border-brand-500;
}
.scroll-down .main-menu li {
  @apply text-brand-100 hover:border-b-2 md:hover:border-brand-100;
}
.main-menu li:nth-child(1) {
  @apply border-b-2 border-brand-500 text-brand-100 md:text-brand-500 opacity-100;
}
.scroll-down .main-menu li:nth-child(1) {
  @apply md:border-b-2 md:border-white md:text-white;
}
.brand-footer svg {
  width: 256px;
  height: -webkit-fill-available
}